body {
    background: yellowgreen;
    margin: 0;
}

.header{
    background: grey;
    height: 70px;
}

.wrapper{
    height: 500px;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,4);
    background: yellow;
    margin: 10px auto;
}
